<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/test.css">
      <% include ../views/common/css %>
</head>
<body>

<div class="container">

  <% include ../views/common/header %>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <form action = "/grading" method = "POST" enctype = "multipart/form-data">
                   <input type="file" name="file" size="50" />
                   <br />
                   <input type = "submit" value = "Upload File" />
               </form>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Result:</h3>
                <% if (image) { %>
                  <img src="images/result.png" class="img-responsive" alt="Cinque Terre" />
                <% } %>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Grading:</h3>

                  <% if (isFeatureEnabled('SCALE')) { %>
                    <h4>Scale:</h4>0&nbsp;<input type="range" min="0" max="100" step="1">&nbsp;100</output></td>
                  <% } %>
                  <% if (isFeatureEnabled('POINT')) { %>
                    <h4>Point:</h4><input type="textbox"></output></td>
                  <% } %>
                  <% if (isFeatureEnabled('CNC')) { %>
                    <h4>Complete:</h4><label class="switch">
                          <input type="checkbox">
                          <div class="slider round"></div>
                    </label>
                  <% } %>
                  <% if (isFeatureEnabled('COMMENTS')) { %>
                    <h4>Comments:</h4><textarea placeholder="What are you doing right now?" ></textarea></td>
                  <% } %>
            </div>
        </div>

    </div>

</div>
</body>
</html>
