<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/test.css">
      <% include ../views/common/css %>
</head>
<body>

<div class="container">

  <% include ../views/common/header %>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <form action = "/grading" method = "POST" enctype = "multipart/form-data">
                   <input type="file" name="file" size="50" />
                   <br />
                   <input type = "submit" value = "Upload File" />
               </form>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Result:</h3>
                <% if (image) { %>
                  <img src="images/result.png" class="img-responsive" alt="Cinque Terre" />
                <% } %>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Grading:</h3>
                <div class="widget-area no-padding blank">

                      <div class="widget-area no-padding blank">
                      <div class="status-upload">
                        <form>
                          <textarea placeholder="What are you doing right now?" ></textarea>
                          <ul>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                          </ul>
                          <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                        </form>
                      </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                  </div>
                </div>
        </div>

    </div>

</div>
</body>
</html>
