<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span>
      <%= pageTitle %>
    </h1>
    <a href="/<%= TENANT_ID%>/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/<%= TENANT_ID%>/grading" class="btn btn-default btn-sm">Grading</a>
    <a href="/<%= TENANT_ID%>/grades" class="btn btn-default btn-sm">Grades</a>
</div>
