<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span>
      <%= pageTitle %>
    </h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/grading" class="btn btn-default btn-sm">Grading</a>
    <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    <a href="/tenants" class="btn btn-default btn-sm">Tenants Setup</a>
</div>
